extends layout
block content
  link(rel='stylesheet' href='/css/blog_post.css')
  
  h1 Edit Blog Post!
  form(method='POST', action='/blog/edit/' + blogPost._id)
    #form-group
      label Title:
      input.form-control(name='title', type='text', value=blogPost.title)
        
    #form-group
      label Body:
      textarea.form-control(name='body', type='text')= blogPost.body
    input.btn.btn-primary(type='submit', value='Submit')    
