extends layout
block content
  link(rel='stylesheet' href='/css/style.css')

  h1 Surdo Homepage
    div.jumbotron.container
      h1 Hello World!
      p Here, have a solution!
      a.btn.btn-danger.btn-lg(href="#") Fix my problems!
      //- ul.list-group
      //-   each blogPost, i in blogPosts
      //-     li.list-group-item
      //-       a(href="#")= blogPost.title
